/* set default style for header */
header{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: #f1f1f1;
}
/* set default style for body */
body {
  background-color: #000000;
  margin-left: 200px;
  margin-right: 50px;
  margin-bottom:50px;
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #f1f1f1;
}
/* set default style for paragraphs */
p {
  text-align: justify;
  text-justify: inter-word;
}
/* page separator */
hr {
  margin-bottom: 20px;
  margin-top: 20px;
}
/* for links in body */
.body_links {
  font-size:12px;
  margin:0px;
}
/* Position text in the middle of the page */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  padding: 20px;
  text-align: center;
  margin-left: 70px;
}
/* sidebar menu */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}
/* navigation menu */
.menu a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 0px;
  margin-left: 0px;
  display: block;
}
/* side bar link*/
.sidenav a {
  font-family: 'Poppins', sans-serif;
/* side bar menu color change for each link*/
}
.sidenav a.one:link, a.one:visited {
  color: #B29C5E;
}
.sidenav a.two:link, a.two:visited {
  color: #FD7E73;
}
.sidenav a.three:link, a.three:visited {
  color: #F5C371;
}
.sidenav a.four:link, a.four:visited {
  color: #73C990;
}
.sidenav a.five:link, a.five:visited {
  color: #15A5E2;
  display: block;
  padding: 0px 8px 0px 8px;
}
.sidenav a.six:link, a.six:visited {
  color: #875AC6;
  display: block;
}
/* sidebar link hover color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* link hover for body */
a:hover {
  color: #f1f1f1;
}
/* yellow text for interest in it headers */
.iit {
  color: #F5C371;
}
/* green text for ideal job headers and links */
.ideal_job{
  color: #73C990;
}
/* blue text for personal profile headers and links */
.PP {
  color: #15A5E2;
}
/* hover color for personal profile links */
/*a.PP:hover{
  color: #f1f1f1;
}*/
/*purple color for project idea headers*/
.idea {
  color: #875AC6;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* display picture in sidebar */
.DP {
  border-radius: 50%;
  width:150px;
  margin-bottom: 10px;
  position: relative;
}
/* display picture in about me */
.DP2 {
  float: left;
  margin-right: 20px;
  width: 300px;
}
/* email and teams icon */
.material-icons-round {color: white;}
/* container to set margins and alignment for icons */
.icons {
  margin-top: 20px;
  text-align:center;
  justify-content: center;
}
/* side by side icon alignment */
.icons a {
  display: inline-flex;
  text-decoration: none;
  margin-right:8px;
}
/* mbti photo result */
.test_result_1 {
  width: auto;
  height:500px;
}
/* container for mbti results and link */
.mbti_container {
  float: right;
  color: #f1f1f1;
  margin-left: 20px;
}
/* learning style photo result */
.test_result_2 {
  width: 500px;
  height: auto;
}
/* container for learning style result and link */
.learning_style_container {
  float: left;
  margin-right: 20px;
}
/* leadership style photo result */
.test_result_3 {
  width:auto;
  height: 400px;
}
/* container for leadership style result and link */
.leadership_style_container{
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
/* ideal job screenshot */
.senior_network_engineer {
  display: inline-block;
  width: 500px;
  height: auto;
  margin-right: 20px;
}
/*container for ideal job photo and link*/
.ideal_job_container {
  float: right;
  text-align: justify;
  color: #f1f1f1;
  margin-left: 20px;
  margin-bottom: 10px;
}
